Repository wenxindongwork/ml-auto-solutions, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RissyRan, @will-cromar, @allenwang28, @chandrasekhard2, @ZhaoyueCheng, @jonb377, @JackCaoG, @vanbasten23, @zpcore, @ManfeiBai, @ortibazar, @sganeshb, @brajiang, @wlzhg, @jiya-zhang, @parambole, @yeandy, @vipannalla, @morgandu, @mailvijayasingh, @sixiang-google, @joezijunzhou, @singh-mitali

style checker
  xlml/utils/mantaray.py
Owners: @RissyRan, @will-cromar, @allenwang28

modify configs for tf.2.18 rc0 release
  dags/solutions_team/configs/tensorflow/solutionsteam_tf_release_supported_config.py
Owners: @chandrasekhard2, @ZhaoyueCheng

use the right configs
  dags/solutions_team/configs/tensorflow/solutionsteam_tf_release_supported_config.py
Owners: @chandrasekhard2, @ZhaoyueCheng

change timeout to 4 hrs
  dags/solutions_team/solutionsteam_tf_dlrm_benchmarks.py
  dags/solutions_team/solutionsteam_tf_release_se_supported.py
  dags/solutions_team/solutionsteam_tf_release_supported.py
Owners: @chandrasekhard2, @ZhaoyueCheng

Update solutionsteam_tf_dlrm_benchmarks.py
  dags/solutions_team/solutionsteam_tf_dlrm_benchmarks.py
Owners: @chandrasekhard2, @ZhaoyueCheng

Optionally delete /tmp/libtpu_lockfile and lower embedding_dim for single host
  .gitignore
  dags/solutions_team/configs/tensorflow/common.py
  dags/solutions_team/solutionsteam_tf_release_se_supported.py
Owners: @RissyRan, @will-cromar, @allenwang28, @chandrasekhard2, @ZhaoyueCheng

lower train steps and update max_ids
  dags/solutions_team/configs/tensorflow/solutionsteam_tf_release_supported_config.py
  dags/solutions_team/solutionsteam_tf_dlrm_benchmarks.py
  dags/solutions_team/solutionsteam_tf_release_se_supported.py
Owners: @chandrasekhard2, @ZhaoyueCheng

lower steps
  dags/solutions_team/solutionsteam_tf_dlrm_benchmarks.py
Owners: @chandrasekhard2, @ZhaoyueCheng

lower steps
  dags/solutions_team/solutionsteam_tf_release_se_supported.py
Owners: @chandrasekhard2, @ZhaoyueCheng

checkpoint_interval=0 and smaller emb_size
  dags/solutions_team/configs/tensorflow/solutionsteam_tf_release_supported_config.py
  dags/solutions_team/solutionsteam_tf_release_se_supported.py
Owners: @chandrasekhard2, @ZhaoyueCheng

test rc1
  dags/solutions_team/configs/tensorflow/solutionsteam_tf_release_supported_config.py
Owners: @chandrasekhard2, @ZhaoyueCheng

run tests for rc2
  dags/solutions_team/configs/tensorflow/solutionsteam_tf_release_supported_config.py
Owners: @chandrasekhard2, @ZhaoyueCheng

Change MaxText borgcron dir
  xlml/utils/mantaray.py
Owners: @RissyRan, @will-cromar, @allenwang28

Fix PJRT V5P test
  dags/solutions_team/configs/tensorflow/solutionsteam_tf_nightly_supported_config.py
  dags/solutions_team/solutionsteam_tf_nightly_supported.py
Owners: @chandrasekhard2, @ZhaoyueCheng

.github/CODEOWNERS:

# @RissyRan and @will-cromar will be the default owners for everything in
# the repo, unless a later match takes precedence.
* @RissyRan @will-cromar @allenwang28

dags/solutions_team/configs/tensorflow @chandrasekhard2 @ZhaoyueCheng
dags/solutions_team/solutionsteam_tf* @chandrasekhard2 @ZhaoyueCheng

dags/pytorch_xla @will-cromar @jonb377 @JackCaoG @vanbasten23 @zpcore @ManfeiBai
dags/legacy_test/tests/pytorch @will-cromar @jonb377 @JackCaoG @vanbasten23 @zpcore @ManfeiBai

dags/multipod @jonb377

dags/mlcompass @ortibazar @sganeshb @brajiang @wlzhg

dags/imagegen_devx @RissyRan
dags/imagegen_devx/project_bite* @RissyRan @jiya-zhang
dags/imagegen_devx/configs/project_bite* @RissyRan @jiya-zhang
dags/imagegen_devx/configs/jax_ss_config* @parambole @RissyRan
dags/imagegen_devx/maxtext_jax_ss_e2e* @parambole @RissyRan

dags/inference @yeandy @vipannalla @morgandu @mailvijayasingh @sixiang-google @joezijunzhou @singh-mitali
